.row
	h5 {{ 'configurationTitle' | translate }}
	p.text-muted {{ 'configurationGreetings' | translate }}

.row
	form.col-md-12.well(ng-submit='submit()')
		.form-group
			h6 {{ 'reportsConnectionTypeHeader' | translate }}
			ol#report-db-type.nya-bs-select(ng-model='dbType', data-ng-change="changeServerType(dbType);")
				li(nya-bs-option="mod in (modules | unique:'type')", data-value='mod.type')
					a {{mod.type}}
			p.help-block {{ 'reportsModuleHelpBlock' | translate }}

		.form-group
			h6 {{ 'reportsModuleHeader' | translate }}
			ol#report-module.nya-bs-select(ng-model='moduleName')
				li(nya-bs-option="mod in (modules | filterBy : ['type']: dbType)", data-value='mod.name')
					a {{mod.name}}
			p.help-block {{ 'reportsModuleHelpBlock' | translate }}

		.form-group
			h6 {{ 'reportsGroupHeader' | translate }}
			ol#report-server.nya-bs-select(ng-model='group')
				li(nya-bs-option="grp in (grupped | unique:'t_group.group_name' | filterBy : ['t_connection.conn_type']: dbType)", data-value="grp.t_group.group_name")
					a {{grp.t_group.group_name}}

			p.help-block {{ 'reportsGroupHelpBlock' | translate }}

		.form-group
			h6 {{ 'reportsServerHeader' | translate }}
			ol#report-server.nya-bs-select(ng-model='server')
				li(nya-bs-option="serv in (grupped | filterBy : ['t_group.group_name']: group | filterBy : ['t_connection.conn_type']: dbType)", data-value="serv.t_connection.serverName" )
					a {{serv.t_connection.serverName}}

			p.help-block {{ 'reportsServerHelpBlock' | translate }}

		p.help-block {{ 'connectionPrefsHelpBlockDebug' | translate }}:
			a(href='/api/v1/config/reports/',target='_blank') /api/v1/config/reports/

		button.btn.btn-success(type='submit') {{ 'acceptModuleSettingsBtn' | translate }}
		button.btn.btn-danger(type='button', ng-click='deleteSettings()') {{ 'deleteModuleSettingsBtn' | translate }}
