#schedCreate
	.modal-body
		.row
			label.col-md-3.control-label {{ 'colConnType' | translate }}
			div.col-md-3
				ol#report-db-type.nya-bs-select(ng-model='connType', data-ng-change="changeServerType(connType);")
					li(nya-bs-option="mod in (modules | unique:'type')", data-value='mod.type')
						a {{mod.type}}
		.row
			label.col-md-3.control-label {{ 'colForGroup' | translate }}
			div.col-md-2
				input(type="checkbox",data-ng-model="forGroup",value="false",name="forGroup")
		.row
			label.col-md-3.control-label {{ 'reportsGroupHeader' | translate }}
			div.col-md-3
				ol#report-server.nya-bs-select(ng-model='groupName')
					li(nya-bs-option="grp in (grupped | unique:'t_group.group_name' | filterBy : ['t_connection.conn_type']: connType)", data-value="grp.t_group.group_name")
						a {{grp.t_group.group_name}}
		.row(data-ng-show='!forGroup')
			label.col-md-3.control-label {{ 'colConnName' | translate }}
			div.col-md-3
				ol#report-server.nya-bs-select(ng-model='connName')
					li(nya-bs-option="serv in (grupped | filterBy : ['t_group.group_name']: groupName | filterBy : ['t_connection.conn_type']: connType)", data-value="serv.t_connection.serverName")
						a {{serv.t_connection.serverName}}
		.row
			label.col-md-3.control-label {{ 'colModuleType' | translate }}
			div.col-md-3
				ol#report-module.nya-bs-select(ng-model='moduleType')
					li(nya-bs-option="mod in (modules | filterBy : ['type']: connType)", data-value='mod.name')
						a {{mod.name}}
		.row
			label.col-md-3.control-label {{ 'colRepName' | translate }}
			div.col-md-3
				ol#report-db-names.nya-bs-select(ng-model='repName')
					li(nya-bs-option="rep in (reports | filterBy : ['module']: moduleType | unique:'name')", data-value='rep.name')
						a {{rep.name}}
		.row
			label.col-md-3.control-label {{ 'colSchedule' | translate }}
			div.col-md-5
				input.form-control(type="text", ng-model="schedule")
		.row
			div.mess {{mess}}
		.row
			br
		.row
			div.col-md-offset-3.col-md-9
				button.btn.btn-primary(ng-click="submit();") {{ 'submit' | translate }}
				button.btn.btn-danger(ng-click='close();') {{'close' | translate}}
