#settings-modal
	.modal-body
		.row
			h5 {{ 'applicationHeader' | translate }}
			.col-md-2
				label {{'lang' | translate}}
			.col-md-10
				.btn-group(role='group')
					button.btn.btn-default(type='button', ng-repeat='lang in languages', ng-class='{active: current === lang}', ng-click='changeLang(lang)') {{lang}}
		.row.text-right
			button.btn.btn-primary(ng-click='close()') {{'close' | translate}}
	