@import "_elements.less";

[ng-view] {
	&.ng-enter{
		.transition();
	}

	&.ng-leave {
		.transition();
	}

	&.ng-enter {
		.transition-delay();
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave {
		position: fixed;
		width:    100%;
		opacity:  1;
	}

	&.ng-leave-active {
		opacity: 0;
	}
}

.animate-enter {
	.transition(1s);
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}
