doctype html

html(ng-app='nodeServerAuditor')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		base(href='/')
		title {{ 'WebApplicationHeader' | translate }}

	each lib in libs.css
		link(rel='stylesheet', type='text/css', href='/lib/css/'+lib)

	link(rel='stylesheet', type='text/css', href='/main.min.css')

	body(ng-cloak,ng-controller='bodyCtrl')
		// Begin page content

		nav.navbar.navbar-static-top(role="navigation")
			div.navbar-inner
				ul.nav.navbar-nav
					li.active
						p.navbar-btn
							button.btn-link.btn-default(ng-click='openSettingsModal();')
								i.fa.fa-cog.fa-2x
							button.btn-link.btn-default(id="settings-reports", ng-click='openSettingsReport();')
								i.fa.fa-cogs.fa-2x
					li.active
						a(href='/', ng-click='route("/")', ng-init='authTab = mainTabs.add({name: "auth"})' ) {{ "mainPage" | translate }}
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown", ng-init='reportsTab = mainTabs.add({name: "reports"})', ng-click='routeActiveReport();loadMenu();') {{ "reports" | translate }}
							b.caret
						ul.dropdown-menu
							li.dropdown-submenu(ng-repeat='report in pars')
								a.dropdown-toggle(href="#", data-toggle="dropdown") {{report.section}}
								ul.dropdown-menu
									li(ng-repeat='item in report.reports')
										a(href='#', ng-click='route("/reports/" + item.name)') {{item.name}}
					li.active
						a(href='#', ng-init='schedTab = mainTabs.add({name: "scheduler"})', ng-click='route("/scheduler")') {{ "Scheduler" | translate }}
						
				ul.nav.navbar-nav.navbar-right
										
					li.active
						.btns-refresh-reload-place(ng-show="checkIsReportsActive();")
							p.navbar-btn
								button.btn-link.btn-default(ng-click='onReloadReportData();')
									i.fa.fa-refresh.fa-2x
								button.btn-link.btn-default(ng-click='onRefreshReportData();')
									i.fa.fa-database.fa-2x
								button.btn-link.btn-default(ng-click='onShowReportInfo();')
									i.fa.fa-info-circle.fa-2x																
									
		div.page-content(ng-view)

		each lib in libs.js
			script(type='text/javascript', src='/lib/js/'+lib)

		script(type='text/javascript', src='/main.min.js')
